html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  background: white;
  --text-shadow: 0 1px rgb(0 0 0 / 14%);
  --box-shadow: 0 15px 20px -3px rgba(0,0,0,.2),0 2px 10px -2px rgba(0,0,0,.2);
}

body {
  font-family: 'Fira Code', monospace;;
  height: 100%;
  font-size: 14px;
  line-height: 1.5;
  color: black;
}

*, *:before, *:after {
  box-sizing: inherit;
}

main, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

input, select {
  font-size: 14px;
}

body {
  margin: 0;
  font-family: 'Fira Code', monospace;
}

* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

.controls {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 960px;
  padding-left: 30px;
  padding-right: 30px;
}

.buttons-wrapper {
  bottom: 0;
  left: 0;
  right: 0;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F5F5F5;
  display: flex;
  position: fixed;
  border-top: 1px solid #DDDDDD;
}

button {
  font-family: 'Fira Code', monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  background: transparent;
  padding-left: 18px;
  padding-right: 18px;
  color: #111111;
  font-weight: 500;
  box-shadow: none;
  border-color: transparent;
  border-radius: 3px;
  font-size: 14px;
}

button:hover {
  cursor: pointer;
  transition: ease;
  /* background: #F7F7F7; */
}

button + button {
  margin-left: 20px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
}

.input-wrapper + .input-wrapper {
  margin-left: 30px;
}

.input {
  font-family: 'Fira Code', monospace;
  height: 32px;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  background: white;
  border: 1px solid #DDDDDD;
}

h1 {
  font-family: 'Fira Code', monospace;
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 10px;
  color: #111111;
  font-family: 'Press Start 2P', sans-serif;
}

.label {
  font-size: 14px;
  margin-right: 14px;
  font-weight: 500;
  color: #111111;
}

.number-input { 
  min-width: 70px;
  margin-left: 16px;
}

#file-input {
  display: none;
}

.css-187mznn-MuiSlider-root {
  color: #FF3ED4;
  height: 3px;
}

select {
  width: 100%;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}
