html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

input:hover, select:hover {
  cursor: pointer;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  background: #272a37;
  --text-shadow: 0 1px rgb(0 0 0 / 14%);
  --box-shadow: 0 15px 20px -3px rgba(0,0,0,.2),0 2px 10px -2px rgba(0,0,0,.2);
  --white-background: rgba(255, 255, 255, 0.2);
  --white-border: rgba(255, 255, 255, 0.3);
  --controls-max-width: 1000px;
  --input-color: #52555F;
}

body {
  font-family: 'Fira Code', monospace;;
  height: 100%;
  font-size: 14px;
  line-height: 1.5;
  color: white;
}

*, *:before, *:after {
  box-sizing: inherit;
}

main, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

input, select {
  font-size: 14px;
  box-shadow: var(--text-shadow)
}

body {
  margin: 0;
  font-family: 'Fira Code', monospace;
}

* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 60px;
}

.controls {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  max-width: var(--controls-max-width);
  padding-left: 20px;
  padding-right: 20px;
}

.buttons-wrapper {
  bottom: 0;
  left: 0;
  right: 0;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--input-color);
  display: flex;
  position: fixed;
  border-top: 1px solid var(--white-border);
}

button {
  font-family: 'Fira Code', monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background: transparent;
  color: white;
  font-weight: 500;
  box-shadow: none;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  transition: color 0.2s ease;
  text-shadow: var(--text-shadow);
}

button:hover,
a:hover {
  cursor: pointer;
  color: #FF3ED4;
  transition: color 0.2s ease;
}

a {
  color: white;
  transition: color 0.2s ease;
}

button.main-button {
  padding-left: 18px;
  padding-right: 18px;
}

button.main-button svg {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

a.info-button {
  height: 24px;
  min-width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 4px;
}

a.info-button svg {
  width: 16px;
  height: 16px;
}

button + button {
  margin-left: 20px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
}

.input-wrapper + .input-wrapper {
  margin-left: 30px;
}

.input-wrapper.glitches-amount {
  flex: 1.5;
}

.input {
  font-family: 'Fira Code', monospace;
  height: 32px;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  background: var(--input-color);
  border: 1px solid var(--white-border);
  color: white;
}

h1 {
  font-family: 'Press Start 2P', sans-serif;
  text-align: center;
  font-size: 18px;
  margin-top: 26px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 10px;
  color: white;
  text-shadow: var(--text-shadow);
  letter-spacing: 1px;
}

.label {
  font-size: 14px;
  margin-right: 14px;
  font-weight: 500;
  color: white;
  text-shadow: var(--text-shadow)
}

.number-input { 
  min-width: 70px;
  margin-left: 16px;
}

#file-input {
  display: none;
}

.css-187mznn-MuiSlider-root {
  color: #FF3ED4;
  height: 3px;
}

select {
  width: 100%;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

@media (max-width: 1040px) {
  .controls {
    flex-direction: column;
  }

  .input-wrapper + .input-wrapper {
    margin-left: 0px;
    margin-top: 20px;
  }
}

@media (max-width: 500px) {
  .main-button span {
    display: none;
  }
}